
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  width: 375px;
}

.header {
  width: 315px;
  margin: 0 auto;
  padding: 0 36px 0 24px;
  height: 48px;
  background-color: #3c3a39;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .logo {
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  .icon-menu {
    #img-1 {
      width: 18px;
      height: 12px;
      display: flex;
      align-items: center;
      flex: none;
      order: 0;
      flex-grow: 0;
      text-decoration: none;
    }
  }
}

.main-content {
  margin: 0 auto;
  width: 375px;
  background-color: #1c1a19;
  background-image: url(images/Illustration.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 125%;

  .section-1 {
    height: 590px;
    display: flex;

    .article {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 327px;
      height: 124px;

      .intro {
        margin: 0;
        padding: 120px 24px 0 24px;
        font-family: 'Crete Round', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 0.37px;
        color: #ff6b00;
        display: flex;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      .job-title {
        margin-top: 12px;
        padding: 0 24px 0 24px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        color: #fff5e1;
        flex: none;
        order: 1;
        flex-grow: 0;
      }

      .job-description {
        margin-top: -12px;
        padding: 0 24px 0 24px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        display: flex;
        flex: none;
        order: 2;
        flex-grow: 0;
      }

      .links {
        width: 160px;
        margin: 0 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        flex: none;
        order: 3;
        flex-grow: 0;

        .socials {
          list-style: none;
        }
      }
    }
  }

  .section-2 {
    display: flex;
    margin: 0 auto;
    width: 375px;
    background-color: #fff;
    margin-top: 100px;

    .recent-article {
      width: 327px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    .recent-text {
      font-family: 'Crete Round', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #091e42;
    }

    .recent-break {
      border-bottom: 0.5px solid black;
      width: 327px;
      margin: 0 auto 70px auto;
    }

    .recent-text-2 {
      font-family: 'Crete Round', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      margin-bottom: -5px;
      color: #091e42;
    }

    .recent-text-3 {
      color: #091e42;
      font-family: 'Inter', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    .recent-btns {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .recent-css-btn,
      .recent-html-btn,
      .recent-bootstrap-btn,
      .recent-ruby-btn {
        height: 40px;
        background: #fff;
        color: #091e42;
        border: 1px solid #8993a4;
        margin-bottom: 12px;
      }

      .recent-css-btn {
        width: 57px;
      }

      .recent-html-btn {
        width: 69px;
      }

      .recent-bootstrap-btn {
        width: 95px;
      }

      .recent-ruby-btn {
        width: 64px;
      }
    }

    .recent-see-btn {
      background-color: #ff6b00;
      color: #fff;
      font-family: 'Inter', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      height: 48px;
      width: 124px;
      border: none;
    }
  }

  .section-3 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 375px;
    background-color: #fff;

    .grid {
      display: grid;
      grid-template-columns: 327px;
      margin: 60px auto;
      grid-template-rows: 390px 390px 390px 390px 390px 390px;

      .grid-items {
        display: flex;
        flex-direction: column;
        margin-top: 24px;

        .see-button {
          height: 48px;
          width: 327px;
          background-color: #ff6b00;
          text-align: center;
          border: none;
          color: #fff;
          font-family: 'Inter', Arial, Helvetica, sans-serif;
          font-weight: 700;
          font-size: 17px;
          line-height: 24px;
          letter-spacing: 0.03em;
          padding: 0;
        }

        .proj-image {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          width: 327px;
          height: 314px;
          background-image: url(images/Img\ Placeholder.png);
          background-repeat: no-repeat;
          padding: 0 19px 20px 12px;

          .preview-text {
            width: 300px;
            color: #fff;
            font-family: 'Inter', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
          }

          .proj-text {
            width: 300px;
            margin-bottom: -10px;
            font-family: 'Crete Round', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 44px;
            color: #fff;
          }
        }

        .preview-buttons {
          display: flex;
          flex-direction: row;

          .html-btn,
          .css-btn,
          .ruby-btn {
            border: none;
            height: 40px;
            background: rgba(255, 255, 255, 0.24);
            margin-right: 10px;
            color: #fff;
            font-family: 'Inter', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
          }

          .html-btn {
            width: 67px;
          }

          .css-btn {
            width: 95px;
          }

          .ruby-btn {
            width: 61px;
          }
        }
      }
    }
  }

  .section-4 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 375px;
    height: 1801px;
    background: #1c1a19;
    background-image: url(images/Frame.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 20%;

    .article-2 {
      padding: 0 24px;

      .about-me {
        width: 327px;
        height: 79px;
        font-family: 'Crete Round', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 88px;
        letter-spacing: 0.37px;
        color: #ff6b00;
        display: flex;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-bottom: 0;
      }

      .about-description {
        width: 327px;
        margin-top: 24px;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #f4f5f7;
        display: flex;
        flex: none;
        order: 1;
        flex-grow: 0;
      }

      .about-button {
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        gap: 10px;
        width: 156px;
        height: 48px;
        background: #ff6b00;
        flex: none;
        order: 2;
        flex-grow: 0;

        .about-text {
          font-family: 'Inter', Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 17px;
          line-height: 24px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.03em;
          color: #fff;
          flex: none;
          order: 0;
          flex-grow: 0;
          outline-style: none;
        }
      }

      .about-image {
        position: absolute;
        width: 200.27px;
        height: 300px;
        left: 699px;
        top: 304px;
      }
    }

    .line-break {
      display: flex;
      position: relative;
      border-bottom: 1px solid #fff;
      width: 327px;
      margin: 0 auto;
      top: 230px;
    }

    .article-3 {
      list-style: none;
      position: relative;
      padding: 0;
      top: 370px;
      text-align: center;
      color: #fff;

      .list {
        display: block;
        margin: 0 10px;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 40px;
      }

      .list-1 {
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 30px;
        margin-left: -10px;

        .rec-image {
          margin-right: 10px;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
